<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Text Generator</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .button {
            display: flex;
            justify-content: center;
            padding-top: 20px;
        }

        .header {
            padding: 10px;
            background: #1a9cbc;
            text-align: center;
            color: rgba(0, 0, 0, 0.726);
            font-size: 20px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .body {
            padding: 20px;
            align-items: center;
            display: flex;
            justify-content: center;
        }

        #output {
            background-color: bisque;
            border: 2px solid black;
            width: 700px;
            margin: 0 auto;
            text-align: center;
            padding: 70px 0;
        }

        /* form {
            display: block;
        } */
    </style>
</head>

<body>
    <div>
        <header class="header">
            <p> Random History Generator </p>
        </header>
        <div class="body">
            <div>
                <% if (message) { %>
                    <div class="alert alert-info"><%= message %></div>
                <% } %>
                <form method="POST" action="/register" id="forms">
                    <p>Enter Firstname: <input name="firstname" id="name1" type="text" required></p>
                    <p>Enter Lastname: <input name="lastname" id="name2" type="text" required></p>
                    <p>Enter Email: <input name="email" id="email" type="email" required></p>
                    <p>Enter number: <input name="number" placeholder="+2347338090790" id="number" type="text" required></p>
                    <p>Enter Password: <input name="password" id="password" type="password" required></p>
                    <!-- <input type="button" value="Submit" onclick="submitted()"> -->
                    <!-- <label for="countrydropdown">Select Country:</label>
                <select name="countrydropdown" id="dropdown">
                    <option value="Nigeria">Nigeria</option>
                    <option value="dave">Dave</option>
                    <option value="pumpernickel">Pumpernickel</option>
                    <option value="reeses">Reeses</option>
                </select> -->
                    <div class="button">
                        <input type="submit" value="Submit">
                    </div>
                </form>
                <a href="/login">Login</a>
            </div>
        </div>
        <!-- <div id="output">
            <p>Do you want to learn a new history? Submit a request</p>
        </div> -->
    </div>
    <script>
        // async function submitted() {
        //     const number = document.getElementById("forms");
        //     console.log(number)
            // const data = {number}
            // const jsonturn = JSON.stringify(data)
            // console.log(jsonturn)
            // const options = {
            //     method: "POST",
            //     headers: {
            //         'Content-Type': 'application/json'
            //     },
            //     body: JSON.stringify(data)
            // }
            // const responsedata = await fetch('/send', options)
            // const json = await responsedata.json();
            // console.log(json)
            // output.innerHTML = number;
            // var option = document.getElementById("dropdown").value;
            // var output = document.getElementById("output");
            // let quote = [
            //     '"hello"',
            //     '"hi"',
            //     '"i am fine"'
            // ]
            // if (number == 1 && option == 'Nigeria') {
            //     var random = quote[Math.floor(Math.random() * quote.length)]
            //     output.innerHTML = random;
            // }else{
            //     alert("number is missing")
            // }
        // }
    </script>
</body>

</html>