<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Text Generator</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .button {
            display: flex;
            justify-content: center;
            padding-top: 20px;
        }

        .header {
            padding: 10px;
            background: #1a9cbc;
            text-align: center;
            color: rgba(0, 0, 0, 0.726);
            font-size: 20px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .body {
            padding: 20px;
            align-items: center;
            display: flex;
            justify-content: center;
        }

        #output {
            background-color: bisque;
            border: 2px solid black;
            width: 700px;
            margin: 0 auto;
            text-align: center;
            padding: 70px 0;
        }

        /* form {
            display: block;
        } */
    </style>
</head>

<body>
    <div>
        <header class="header">
            <p> Random History Generator </p>
        </header>
        <div class="body">
            <div>
                <% if (message) { %>
                    <div class="alert alert-info"><%= message %></div>
                <% } %>
                <form method="POST" action="/register" id="forms">
                    <p>Enter Firstname: <input name="firstname" id="name1" type="text" required></p>
                    <p>Enter Lastname: <input name="lastname" id="name2" type="text" required></p>
                    <p>Enter Email: <input name="email" id="email" type="email" required></p>
                    <p>Enter number: <input name="number" placeholder="+2347338090790" id="number" type="text" required></p>
                    <p>Enter Password: <input name="password" id="password" type="password" required></p>
                    <div class="button">
                        <input type="submit" value="Submit">
                    </div>
                </form>
                <a href="/login">Login</a>
            </div>
        </div>
    </div>
</body>

</html>